{% extends 'base.html.twig' %}

{% block viewTitle %}Game invitations{% endblock %}

{% block body %}

<h1>Game invitations</h1>
<hr>

{% if invitations|length > 0 %}
<ul class="list-group">
    {% for invitation in invitations %}
    {% set game = invitation.gameEntity %}
    {% set dm = game.getDm() %}

    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <span>
            {{ game.name }} <span class="fw-light">by {{ dm.displayName }} (@{{ dm.username }})</span>
        </span>
        <span>
            <a href="{{ path('invitations_games_accept', {'invitationId': invitation.id}) }}" class="btn btn-success">
                Accept
            </a>
            <a href="{{ path('invitations_games_decline', {'invitationId': invitation.id}) }}" class="btn btn-danger">
                Decline
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No invitations</p>
{% endif %}

{% endblock %}