{% extends 'base.html.twig' %}

{% block viewTitle %}Game invitations{% endblock %}

{% block body %}

<h1>Registration invitations</h1>
<hr>

<a href="{{ path('invitations_registrations_create') }}" class="btn btn-primary mb-3">
    Create invitation
</a>

{% if invitations|length > 0 %}
<ul class="list-group">
    {% for invitation in invitations %}

    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <span>
            {{ invitation.invitationCode }}
        </span>
        <span>
            <a href="{{ path('invitations_registrations_delete', {'invitationId': invitation.id}) }}"
                class="btn btn-danger">
                Delete
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No invitations</p>
{% endif %}

{% endblock %}