{% extends "base.html.twig" %}

{% block viewTitle %}
	{{ game.name }}
	admin dashboard
{% endblock %}

{% block navbarRightItems %}
	{% if game.getDm().getUsername() == app.user.getUsername() %}
		<li class="nav-item">
			<a href="{{ path('game_details', {'id': game.id })}}" class="nav-link">Go back</a>
		</li>
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}
	<h1>{{ game.name }}
		admin dashboard</h1>
	<hr>

	<div
		class="row">
		{# Invitations #}
		<div class="col-sm mb-3">
			{% if game.gameInvitations|length > 0 %}
				<ul class="list-group">
					{% for invitation in game.gameInvitations %}
						{% set userEntity = invitation.userEntity %}
						<li class="list-group-item d-flex flex-row justify-content-between align-items-center">
							<span>
								{{ userEntity.displayName }}
								<span class="fw-light">(@{{ userEntity.username }})</span>
							</span>
							<a href="{{ path('game_invitation_cancel', {'id': game.id, 'invitationId': invitation.id}) }}" class="btn btn-danger">
								Cancel
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No active game invitations</p>
			{% endif %}
		</div>

		{# Create invitation #}
		<div class="col-sm">
			{{ form(playerInvitationForm) }}
			</div>
		</div>
	{% endblock %}
