{% extends 'base.html.twig' %}

{% block viewTitle %}
	{{ game.name }}
{% endblock %}

{% block navbarRightItems %}
	{% if game.getDm().getUsername() == app.user.getUsername() %}
		<li class="nav-item">
			<a href="{{ path('game_details_admin', {'id': game.id })}}" class="nav-link">Admin</a>
		</li>
	{% endif %}

	{{ parent() }}
{% endblock %}

{% block body %}
	{# Title #}
	<h1>
		{{ game.name }}
		<span class="fs-3 fw-light">by
			{{ game.getDm().displayName }}</span>
	</h1>

	<hr>

	<div
		class="row">
		{# Player list #}
		<div class="col-lg mb-3">
			<h2>Players</h2>
			<ul class="list-group">
				{% for player in game.getPlayers() %}
					{% set playerIsDm = game.getDm().username == player.username %}
					{% set liClass = 'list-group-item ' ~ (playerIsDm ? 'fw-bold' : '') %}

					<li class="{{ liClass|trim }}">
						{{ player.displayName }}
						{% if playerIsDm %}(DM)
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

		{# Available dates list #}
		<div class="col-lg mb-3">
			<h2>Available dates</h2>
			{% if availableDates %}
				<ul class="list-group">
					{% for availableDate in availableDates|sort %}
						<li class="list-group-item">
							{{ availableDate|date("d. m. Y") }}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No available dates!</p>
			{% endif %}
		</div>
	</div>


	<div
		class="row">
		{# User's dates #}
		<div class="col-lg mb-3">
			<h2>My dates</h2>

			{% if userDates %}
				<ul class="list-group">
					{% for userDate in userDates|sort %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<span>{{ userDate.getDate()|date("d. m. Y") }}</span>
							<a href="{{ path('game_remove_date', {'gameDateId': userDate.id}) }}" class="btn btn-danger">
								Remove
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No dates registered!</p>
			{% endif %}
		</div>

		<div class="col-lg">
			{{ form(addGameDateForm) }}
			</div>
		</div>

	{% endblock %}
