<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Session planner
        {% if block('viewTitle') is not empty %}
        | {% block viewTitle %}{% endblock %}
        {% endif %}
        {% endblock %}
    </title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {# Bootstrap #}
    {% if app.environment == "prod" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"
        defer></script>
    {% else %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    {% endif %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    <script src="/static/js/loadColorScheme.js" async></script>
    {% endblock %}
</head>

<body>
    {# Navbar #}
    <nav class="navbar navbar-expand-lg navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">Session planner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# Navbar items #}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                    {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('index') }}" class="nav-link">Games</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInvitationsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Invitations
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarInvitationsDropdown">
                            <li>
                                <a href="{{ path('invitations_games' )}}" class="dropdown-item">
                                    Game invitations
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('invitations_registrations') }}" class="dropdown-item">
                                    Registration invitations
                                </a>
                            </li>
                        </ul>
                    </li>

                    {# Navbar right side items #}
                    <li class="nav-item ms-lg-auto">
                        {% block navbarRightItems %}
                    <li class="nav-item">
                        <a href="{{ path('auth_logout') }}" class="nav-link">Log out</a>
                    </li>
                    {% endblock %}

                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ path('auth_login') }}" class="nav-link">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('auth_register') }}" class="nav-link">Register</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {# Flashes #}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endfor %}

        <div class="mt-3">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>

</html>