{% extends 'base.html.twig' %}

{% block viewTitle %}Games
{% endblock %}

{% block body %}

	{# Conflicting dates list #}
	{% if conflictingDates is not empty %}
		<h1>Conflicting dates</h1>
		<p>The following dates are registered in multiple games on the same day:</p>

		<div class="accordion mb-3" id="conflicting-dates-accordion">
			{% for gameDates in conflictingDates %}
				{% set collapseKey = "conflicting-games-list-" ~ gameDates[0].date|date("Y-m-d") %}
				{% set dateString = gameDates[0].date|date("d. m. Y") %}

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapseKey }}" aria-expanded="false">
							{{ dateString }}
						</button>
					</h2>
					<div id="{{ collapseKey }}" class="accordion-collapse collapse" data-bs-parent="#conflicting-dates-accordion">
						<div class="accordion-body">
							<ul class="list-group">
								{% for gameDate in gameDates %}
									{% set gameEntity = gameDate.userGameEntity.gameEntity %}
									<a href="{{ path('game_details', {'id': gameEntity.id }) }}" class="list-group-item list-group-item-action">
										{{ gameEntity.name }}
									</a>
								{% endfor %}

							</ul>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<h1>Games</h1>
	<hr>

	{# Create game button #}
	<a href="{{ path('create') }}" class="btn btn-primary mb-3">
		Create game
	</a>


	{# Games list #}
	{% if not games %}
		<p>No Games yet!</p>
	{% else %}
		<ul class="list-group">
			{% for game in games %}
				<a href="{{ path('game_details', {'id': game.id})}}" class="list-group-item list-group-item-action">
					{{ game.name }}
				</a>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
