{% extends "base.html.twig" %}

{% block viewTitle %}Login{% endblock %}

{% block body %}

<h1>Login</h1>
<hr>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error.messageKey|trans(error.messageData, "security") }}
</div>
{% endif %}

{# Login form #}
<form action="{{ path('auth_login') }}" method="POST">

    {# Username #}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}">
    </div>

    {# Password #}
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="_password" id="password" class="form-control">
    </div>

    {# Login button #}
    <button type="submit" class="btn btn-primary">Login</button>

</form>


{% endblock %}